body {
  font-family: "Koh Santepheap";
  background-color: #d8d2b8;
}
/*------------------------------------*/
/*resource*/

.header-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.header-column {
  font-size: 22px;
  font-family: "Kulim Park";
  font-weight: 400;
  word-wrap: break-word;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--black);
  flex: 1;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}
.header-column img {
  width: 50px;
  height: auto;
}
button {
  cursor: pointer;
}

/*custom checkbox*/
.custom-checkbox input {
  display: none;
}

/* Create a custom circular box */
.custom-checkbox span {
  height: 20px;
  width: 20px;
  border-radius: 50%; /* Makes the span circular */
  border: 2px solid #555; /* Border for the circle */
  display: inline-block;
  position: relative;
}

/* Style for when the checkbox is checked */
.custom-checkbox input:checked + span {
  background-color: #4caf50; /* Change background color when checked */
  border-color: #4caf50; /* Optional: change border color when checked */
}

/* Add a checkmark inside the circle when checked */
.custom-checkbox input:checked + span:after {
  content: "";
  position: absolute;
  top: 4px; /* Positioning of the checkmark */
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%; /* Makes the inner checkmark circular */
  background: white; /* Color of the checkmark */
}

#banner {
  margin-left: 1vw;
}
#banner h2 {
  color: #000000;
  font-size: 34px;
  font-weight: 600;
  margin: 3vh 0;
}

#banner h4 {
  margin: 0;
  font-weight: lighter;
  font-family: "Koh Santepheap", sans-serif;
  font-size: 32px;
  line-height: 40.63px;
  text-align: left;
}
/*.col-md-3 {
  margin: 0 1vw;
}*/
.filters-container button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: right;
}

/* Filter Header and Clear Button Styling */
.filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 250px;
  width: 100%;
  margin: 7vh 0vw;
  border-bottom: 2px solid;
}

.filters-header h3 {
  margin: 10;
  padding: 10;
}

.filters-header button {
  padding: 5px 10px;
  font-size: 16px;
  width: 120px;
}

/* Filter Sections Styling */
#Filters h3 {
  padding-bottom: 5px;
  margin-top: 20;
  margin-bottom: 15px;
}

#Filters ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#Filters li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#Filters button {
  padding: 8px 20px;
  font-size: 14px;
  margin-left: 10px;
}
/*------------------------------------*/
.navigation-bar .row {
  margin: 3vh;
}
.navigation-bar .row .button {
  background-color: #142e29;
  font-weight: bold;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.aboutus img {
  width: 100%;
}
.overview {
  margin: 10vh 5vw;
}
.overview h1 {
  color: #fff;
  text-align: center;
}
.overview h3 {
  color: #fff;
  text-align: center;
}
.overview p {
  color: #fff;
  text-align: center;
}
.overview .row .col-md-4 h1 {
  font-size: 340%;
  border-bottom: 4px solid #fff;
}
.overview .row .col-md-4 h2 {
  color: #fff;
  text-align: center;
}

.container-fluid {
  background-color: rgb(49, 49, 49);
}

.container-fluid .bottomRow .row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.col-md-9 .col-md-8 h4 {
  padding: 0 1vw;
}

.col-md-9 .card p {
  padding: 0 1vw;
}
.col-md-9 button {
  margin-left: 1vw;
  margin-bottom: 2vh;
}
.col-md-9 .card {
  margin-bottom: 3vh;
}
.col-md-9 .col-md-8 h4 {
  font-weight: bold;
  color: #198754;
  font-size: 18px;
}
.col-md-9 .col-md-4 h4 {
  margin-top: 7vh;
  font-weight: bold;
  font-size: 18px;
}
